@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

:root {
    --color1: #fe9898;
    --color2: #f98d8d;
    --color3: #f57171;
    --backdrop: rgba(250,250,250,0.8);
}

body {
    font-family: 'Raleway', sans-serif;
}

button {
    color: #ffffff;
    text-shadow: 0 0 2px #ffffff;
}
.board {
    display: grid;
    grid-template:1fr 1fr 1fr / 1fr 1fr 1fr;
    width: clamp(50px, 75vmin, 800px);
    height: clamp(50px, 75vmin, 800px);
    background-color:rgb(202, 202, 202);
    margin: 40px auto;
    gap: 1px;
}

.board > * {
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-size: 15vmin;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease-in-out;
    user-select: none;
}

#start-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--backdrop);
    gap: 48px;
    transition: all 0.2s ease-in;
    z-index: 2;
}

#menu-players {
    display: flex;
    width: clamp(200px, 90vw, 1000px);
    justify-content: space-around;
    height: 60%;

}

#menu-players > div {
    width: 30%;
    border: 0px solid black;
    border-radius: 0px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 4vh;
    text-align: center;
    font-size: 3vmin;
}

#menu-players > div >p:first-child {
    font-size: 6vmin;
}

#menu-players > div >p:nth-child(2) {
}

.player-name {
    width: 80%;
    border: none;
    border-radius: 999px;
    height: 40%;
    background-color:var(--color1);
}

#menu-players > div > div > p {
    margin: 4px;
}

.mark-buttons {
    display: flex;
    width: 100%;
    height: 60%;
    overflow: hidden;
}

.mark-buttons > button {
    font-size: 200%;
    flex: 1;
    border: none;
    background-color:var(--color1);
    font-family: inherit;
    transition: all 0.1s ease-in-out;
}

.mark-buttons > button:first-child {
    border-radius: 999px 0 0 999px;
}

.mark-buttons > button:last-child {
    border-radius: 0 999px 999px 0;
}

#start {
    border: none;
    width: clamp(40px, 40vw, 400px);
    height: clamp(40px, 10vh, 100px);
    font-size: 250%;
    font-family: inherit;
    border-radius: 999px;
    background-color:var(--color1);
    transition: all 0.1s ease-in-out;
}

button#start:active,
#winning-screen button:active {
    background-color: var(--color3);
}

#start:hover,
.mark-buttons > button:hover:not(.selected-mark),
.winning-menu > button:hover {
    transform:translateY(2px);
    background-color: var(--color2);
}

button.selected-mark {
    background-color: var(--color3);
    transform: translateY(2px);
}

.winning-cell {
    transform:translateY(-10px);
    background-color: var(--color1);
}

#winning-screen {
    background-color: var(--backdrop);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

}

#winning-screen,
#start-menu {
    transition: all 0.2s ease-in 0.6s;
}

.winning-menu {
    display: grid;
    grid-template: 50% 50% / 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 20px;
    width: clamp(100px, 70%, 600px);
    height: clamp(100px, 40%, 300px);
    text-align: center;
    font-size: clamp(12px, 4vmin, 40px);
}

.winning-text {
    grid-column: 1 / -1;
    font-weight: bold;
    text-shadow: 0px 0px 2px var(--color1);
    color: var(--color3);

}

.winning-menu > button {
    border: none;
    width: 100%;
    height: clamp(20px, 10vh, 80px);
    font-size: inherit;
    font-family: inherit;
    border-radius: 999px;
    background-color:var(--color1);
    transition: all 0.1s ease-in-out;

}

.hidden{
    transform: scale(0);
    opacity: 0;
}